<!doctype html>
<html lang="en">
  <head>
    <title>Davis | Blog | Unavailable</title>
    <meta name="description" content="The blog for davisellwood.com is currently unavailable">
    <!--/*/ <th:block th:insert="~{fragments/main.html :: headerfiles}"> </th:block> /*/-->
  </head>
  <body>
    <header th:replace="~{fragments/main.html :: header}"></header>
    <div class="container"><div class="row"><div class="col-12"><h2 class="text-center">Blog Under Construction</h2></div></div></div>
    <footer>
      <!--/*/ <th:block th:insert="~{fragments/main.html :: footer}"> </th:block> /*/-->
    </footer>
  </body>
</html>