<!doctype html>
<html lang="en">

<head>
  <title th:text="'Davis | ' + ${title}"></title>
  <meta name="description" content="">
  <link rel="stylesheet" th:href="@{/styles/work/projects.min.css}">
  <!--/*/ <th:block th:insert="~{fragments/main.html :: headerfiles}"> </th:block> /*/-->
</head>

<body>
  <header th:replace="~{fragments/main.html :: header}"></header>
  <div class="container mb-5">
    <div class="row">
        <div class="col-12 text-center pb-5">
            <h2 th:text="${title}"></h2>
            <h2 th:text="${lastUpdatedDate}"></h2>
            <h2 th:text="${publishDate}"></h2>
        </div>
        <div class="col-12 pb-5">
            <div th:remove="tag" th:utext="${content}"></div>
        </div>
    </div>
  </div>
  <footer>
    <!--/*/ <th:block th:insert="~{fragments/main.html :: footer}"> </th:block> /*/-->
  </footer>
</body>

</html>