<!doctype html>
<html lang="en">
  <head>
    <title>Error | 404</title>
    <meta name="description" content="">
    <!--/*/ <th:block th:insert="~{fragments/main.html :: headerfiles}"> </th:block> /*/-->
  </head>
  <body>
    <header th:replace="~{fragments/main.html :: header}"></header>
    <div class="container"><div class="row"><div class="col-12"><h2 class="text-center">404 | Page Not Found</h2></div></div></div>
    <footer>
      <!--/*/ <th:block th:insert="~{fragments/main.html :: footer}"> </th:block> /*/-->
    </footer>
  </body>
</html>