<!doctype html>
<html lang="en">
  <head>
    <title>Home</title>
    <meta name="description" content="Home Description">
    <link rel="stylesheet" th:href="@{/styles/home/typewriter.css}">
    <!--/*/ <th:block th:insert="~{fragments/main.html :: headerfiles}"> </th:block> /*/-->
  </head>
  <body>
    <header th:replace="~{fragments/main.html :: header}"></header>

    <div class="container mb-5 py-1">
      <div class="shadow p-3 bg-light rounded border">
        <div class="row px-0 px-md-3">
          <div class="col-12 text-center pb-4 pt-1">
            <h2>About Me</h2>
          </div>
          <div class="col-8 col-lg-4 px-4 px-md-2 mb-3 offset-2 offset-lg-0 align-self-center text-center portrait-container">
            <img th:src="@{/images/home/me.svg}" class="img-fluid d-block rounded-circle shadow-lg border border-dark border-5 mx-auto" alt="Davis Ellwood's stylized portrait">
            <div class="row no-gutters d-block">
              <div class="col-12 d-none d-lg-block caption typewrite h4" data-period="2000">
                <span class="wrap"></span>
              </div>
              <div class="col-12 d-block d-lg-none caption typewrite h5" data-period="2000">
                <span class="wrap"></span>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-8">
            <!--TODO: Add back-end connection to retrieve this-->
            <p class="lead">Hi! I'm Davis, a full-stack developer specializing in Java and React.</p>
            <p class="lead">To me programming is all about learning new things, I'm always trying to expand my skillset to incorporate new technologies and disciplines.</p>
            <p class="lead">I'm currently looking for work, if you'd like to get in contact with me for a job opportunity you can do so <a class="link-primary" href="mailto:contact@davisellwood.com">here.</a></p>
          </div>
        </div>
      </div>
    </div>
    
    <footer>
      <script th:src="@{/scripts/home/typewriter.js}"></script>
      <!--/*/ <th:block th:insert="~{fragments/main.html :: footer}"> </th:block> /*/-->
    </footer>
  </body>
</html>
